@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="https://devspace.cloud/img/congrats.gif" />
<h1>You deployed this project with DevSpace!</h1>
<div>
    <h2>Now it's time to code:</h2>
    <ol>
        <li>Edit this text in <code>Pages/index.cshtml</code> and save the file</li>
        <li>Check the logs to see how DevSpace restarts your container</li>
        <li>Reload browser to see the changes</li>
    </ol>
</div>
