@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>You deployed this project with DevSpace!</h1>
<div>
    <h2>Now it's time to code:</h2>
    <ol>
        <li>Edit this text in <code>Pages/index.cshtml</code> and save the file</li>
        <li>Restart the application with <code>dotnet run</code></li>
        <li>Reload browser to see the changes</li>
    </ol>
</div>
